body {
  background: #f8fafc;
}

.app-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}

.app-card {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02), 0 5px 22px -8px rgba(0, 0, 0, 0.1);
  display: block;
}

.app-banner {
  padding: 20px;
  border-radius: 4px;
}

.app-info {
  background-color: #c7f4ff;
}

.app-error {
  background-color: rgb(202, 60, 60);
  color: #fff;
}

.app-success {
  background-color: rgb(28, 184, 65);
  color: #fff;
}

.centered-text {
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  height: 100px;
}

.pure-button {
  border-radius: 4px;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.link-button {
  color: #0078e7;
  background: none;
  outline: none;
  border: 0;
  padding: 20px;
}

.pure-input-1 {
  margin-bottom: 25px !important;
}

.sidebar-content {
  width: 50%;
}

.logs-content {
  background: #000000a8;
  color: #f8fafc;
}

.icon {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  cursor: pointer;
}
